body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.top-bar {
    background-color: #f0c436;
    color: white;
    padding: 5px 0;
}

button{
    background-color: #f0c436;
    border: 0 ;
    color: white;
}

.top-nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 0.9em;
}

.main-header {
    background-color: white;
    padding: 10px 0;
}

.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: auto;
}

.search-bar {
    display: flex;
    margin: 0 20px;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #f0c436;
    color: white;
    border: none;
    cursor: pointer;
}

.user-actions a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
}


.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.producto {
    background-color: white;
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.producto img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
}

.etiqueta {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff6b6b;
    color: white;
    padding: 5px 10px;
    font-size: 0.8em;
    border-radius: 3px;
}

.producto h3 {
    font-size: 1em;
    margin: 10px 0;
}

.marca {
    color: #777;
    font-size: 0.9em;
}

.precio {
    font-weight: bold;
    color: #000000;
    font-size: 1.2em;
    margin: 10px 0;
}

.agregar-carrito {
    background-color: #f0c436;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
}

@media (max-width: 768px) {
    .producto {
        width: calc(50% - 20px);
    }
}
.main-nav {
    background-color: #f8f8f8;
    padding: 10px 0;
}

.main-nav a {
    color: #333;
    text-decoration: none;
    margin-right: 20px;
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 30%; /* Ancho del modal */
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 20px;
}

/* Estilo básico del formulario */
.modal-content input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

.modal-content button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #45a049;
}